 create a dedicated virtual environment. This keeps your project's dependencies separate from your computer's global Python installation, which is a best practice.

In [1]:
import pandas as pd

import numpy as np

In [2]:
data = {
    "x1": [1, np.nan, 3, 4, np.nan, np.nan, np.nan, np.nan, 8, 9],
    "y1": [1, 2, 3, 4, np.nan, np.nan, np.nan, np.nan, 8, 9],
    "x2": [1, 2, 3, 4, np.nan, np.nan, np.nan, np.nan, 8, 9],
    "y2": [1, 2, 3, 4, np.nan, np.nan, np.nan, np.nan, 8, 9]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head(10)

    x1   y1   x2   y2
0  1.0  1.0  1.0  1.0
1  NaN  2.0  2.0  2.0
2  3.0  3.0  3.0  3.0
3  4.0  4.0  4.0  4.0
4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN
8  8.0  8.0  8.0  8.0
9  9.0  9.0  9.0  9.0

In [5]:
df.interpolate()

    x1   y1   x2   y2
0  1.0  1.0  1.0  1.0
1  2.0  2.0  2.0  2.0
2  3.0  3.0  3.0  3.0
3  4.0  4.0  4.0  4.0
4  4.8  4.8  4.8  4.8
5  5.6  5.6  5.6  5.6
6  6.4  6.4  6.4  6.4
7  7.2  7.2  7.2  7.2
8  8.0  8.0  8.0  8.0
9  9.0  9.0  9.0  9.0